body {
  background: #333333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
}
.div-uno {
  margin: 10px;
  margin-top: 5px;
}
footer {
  display: flex;
  color: white;
  justify-content: center;
  margin: 10px;
}
