body {
  background: #333333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
}
.padre {
  display: flex;
  width: 100%;
}
.hijos {
  width: 50%;
  display: flex;
}
.texto {
  margin: 30px;
  color: white;
}
.imagenes {
  width: 100%;
  margin: 5px;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
.imagenes_hija {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
.imagen-uno {
}
.imagen-dos {
}
a {
  color: rgb(122, 115, 115);
  text-decoration: none;
}
footer {
  display: flex;
  color: white;
  justify-content: center;
  margin: 10px;
}
@media (max-width: 1166px) {
  .padre {
    flex-direction: column;
  }
  .hijos {
    width: 100%;
  }

  .imagenes {
    flex-wrap: wrap;
  }
}
