body{
    background: #333333;
background: -webkit-linear-gradient(to right, #dd1818, #333333); 
background: linear-gradient(to right, #dd1818, #333333);

}
.padre{
    display: flex;
    width: 100%;
    border: 2px solid;
    border-color: white;
    
}
.hijos{
    border: solid;
    border-color: white ;
    width: 50%;
    display: flex;
    
}
.texto{
    margin: 30px;
    color: white;
 
}
.imagenes{
    width: 50%;
    border: solid;
    border-color: white;
    margin: 30px;
}
footer{
    display: flex;
    color: white;
    justify-content: center;
    margin: 10px;
}